In [3]:
import pandas as pd
import numpy as np

In [5]:
countries = {"Poland":"PL",
            "Germany":"DE",
            "United Kingdom":"GB",
            "Austria":"AT",
            "Spain":"ES",
             "Portugal":"PT",
             "Netherlands":"NL",
            "Italy":"IT",
            "France":"FR",
            "Sweden":"SE",
            "Israel":"IL",
            "Belgium":"BG",
            "Portugal":"PT",
            "Netherlands":"NL",
            "Spain":"ES"}
cols = ['date','retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline',
       'residential_percent_change_from_baseline']
country_data = {}
for key,value in countries.items():
    data = pd.read_csv(f"2020_{value}_Region_Mobility_Report.csv")[cols]
    data = data.groupby("date").mean()
    data = data.rename({data.columns[0]:"mobility_recreation",data.columns[1]:"mobility_grocery",
                                          data.columns[2]:"mobility_parks",data.columns[3]:"mobility_transit",
                                          data.columns[4]:"mobility_work",data.columns[5]:"mobility_residential"},axis=1)
    data1 = pd.read_csv(f"2021_{value}_Region_Mobility_Report.csv")[cols]
    data1 = data1.groupby("date").mean()
    data1 = data1.rename({data1.columns[0]:"mobility_recreation",data1.columns[1]:"mobility_grocery",
                                          data1.columns[2]:"mobility_parks",data1.columns[3]:"mobility_transit",
                                          data1.columns[4]:"mobility_work",data1.columns[5]:"mobility_residential"},axis=1)
    full = data.append(data1)
    full["location"] = key
    country_data[key] = full

In [6]:
data = country_data["Poland"].append(country_data["Germany"].append(country_data["Belgium"].append(country_data["France"].\
append(country_data["United Kingdom"].append(country_data["Sweden"].append(country_data["Israel"].append(country_data["Italy"].append(country_data["Spain"]\
        .append(country_data["Portugal"].append(country_data["Austria"].append(country_data["Netherlands"])))))))))))

In [7]:
data.to_csv("mobility_report.csv")

In [73]:
data.columns

Index(['country_region_code', 'country_region', 'sub_region_1', 'sub_region_2',
       'metro_area', 'iso_3166_2_code', 'census_fips_code', 'place_id', 'date',
       'retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline',
       'residential_percent_change_from_baseline'],
      dtype='object')

In [45]:
data = data.groupby("date").mean()
data = data.rename({data.columns[2]:"mobility_recreation",data.columns[3]:"mobility_grocery",
                                          data.columns[4]:"mobility_parks",data.columns[5]:"mobility_transit",
                                          data.columns[6]:"mobility_work",data.columns[7]:"mobility_residential"},axis=1)

In [46]:
data

,metro_area,census_fips_code,mobility_recreation,mobility_grocery,mobility_parks,mobility_transit,mobility_work,mobility_residential
date,,,,,,,,
2020-02-15,NaN,NaN,10.207668,0.867052,26.908451,8.567164,0.943114,-0.759036
2020-02-16,NaN,NaN,10.585903,-11.441667,14.865854,9.040000,-3.055085,0.013333
2020-02-17,NaN,NaN,8.941818,4.226300,17.018349,8.590698,13.869231,-0.713043
2020-02-18,NaN,NaN,5.132013,0.462644,9.043103,2.739726,-2.881313,1.189266
2020-02-19,NaN,NaN,5.778146,2.466859,8.161017,1.527778,-3.546835,0.724719
...,...,...,...,...,...,...,...,...
2020-12-27,NaN,NaN,-47.739316,-29.357798,13.417808,-26.910053,-23.702128,5.081761
2020-12-28,NaN,NaN,-14.579151,-3.203030,-7.171171,-32.360000,-32.027708,12.653117
2020-12-29,NaN,NaN,-13.571930,6.002933,0.313043,-32.882609,-40.000000,12.838196
2020-12-30,NaN,NaN,-4.335689,34.029940,1.936364,-28.668142,-40.455919,11.639257
2020-12-31,NaN,NaN,-31.244361,22.372372,-5.094828,-41.658333,-56.700252,16.031830

In [8]:
data1 = pd.read_csv("2021_PL_Region_Mobility_Report.csv").fillna(method="ffill")

In [9]:
data1 = data1.groupby("date").mean()
data1 = data1.rename({data1.columns[2]:"mobility_recreation",data1.columns[3]:"mobility_grocery",
                                          data1.columns[4]:"mobility_parks",data1.columns[5]:"mobility_transit",
                                          data1.columns[6]:"mobility_work",data1.columns[7]:"mobility_residential"},axis=1)

In [10]:
data1

,metro_area,census_fips_code,mobility_recreation,mobility_grocery,mobility_parks,mobility_transit,mobility_work,mobility_residential
date,,,,,,,,
2021-01-01,NaN,NaN,-72.609572,-84.130982,-6.377834,-54.418136,-84.629723,25.591940
2021-01-02,NaN,NaN,-41.007634,-19.605598,0.633588,-38.124682,-28.452926,14.315522
2021-01-03,NaN,NaN,-46.876011,-22.018868,-2.552561,-35.067385,-16.469003,13.312668
2021-01-04,NaN,NaN,-25.624685,-5.667506,-3.994962,-31.949622,-19.460957,9.662469
2021-01-05,NaN,NaN,-21.687657,12.680101,-7.156171,-32.657431,-32.015113,9.284635
...,...,...,...,...,...,...,...,...
2021-03-30,NaN,NaN,-18.254408,7.017632,7.919395,-26.672544,-27.460957,7.571788
2021-03-31,NaN,NaN,-16.224181,17.465995,17.317380,-21.617128,-27.564232,5.418136
2021-04-01,NaN,NaN,-13.924433,26.574307,7.609572,-21.798489,-30.304786,6.395466
2021-04-02,NaN,NaN,-19.073048,30.788413,4.345088,-27.443325,-34.901763,11.921914
2021-04-03,NaN,NaN,-42.829949,-19.261421,-3.817259,-34.690355,-36.187817,10.967005

In [59]:
data.append(data1)

,metro_area,census_fips_code,mobility_recreation,mobility_grocery,mobility_parks,mobility_transit,mobility_work,mobility_residential
date,,,,,,,,
2020-02-15,NaN,NaN,10.207668,0.867052,26.908451,8.567164,0.943114,-0.759036
2020-02-16,NaN,NaN,10.585903,-11.441667,14.865854,9.040000,-3.055085,0.013333
2020-02-17,NaN,NaN,8.941818,4.226300,17.018349,8.590698,13.869231,-0.713043
2020-02-18,NaN,NaN,5.132013,0.462644,9.043103,2.739726,-2.881313,1.189266
2020-02-19,NaN,NaN,5.778146,2.466859,8.161017,1.527778,-3.546835,0.724719
...,...,...,...,...,...,...,...,...
2021-03-30,NaN,NaN,-18.254408,7.017632,7.919395,-26.672544,-27.460957,7.571788
2021-03-31,NaN,NaN,-16.224181,17.465995,17.317380,-21.617128,-27.564232,5.418136
2021-04-01,NaN,NaN,-13.924433,26.574307,7.609572,-21.798489,-30.304786,6.395466
2021-04-02,NaN,NaN,-19.073048,30.788413,4.345088,-27.443325,-34.901763,11.921914
2021-04-03,NaN,NaN,-42.829949,-19.261421,-3.817259,-34.690355,-36.187817,10.967005

In [4]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

engine = create_engine('postgresql+psycopg2://postgres:figa997@localhost:5432/covid_19_in_poland')

cols = ['date','retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline',
       'residential_percent_change_from_baseline']

data1 = pd.read_csv(f"2021_PL_Region_Mobility_Report.csv")[cols]
data1 = data1.groupby("date").mean()
data1 = data1.rename({data1.columns[0]:"mobility_recreation",data1.columns[1]:"mobility_grocery",
                                      data1.columns[2]:"mobility_parks",data1.columns[3]:"mobility_transit",
                                      data1.columns[4]:"mobility_work",data1.columns[5]:"mobility_residential"},axis=1)

data1.to_sql("mobility",con=engine,if_exists="replace")